<!DOCTYPE html>
<html>
    <head>
        <title>Form App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Site</div>
            </div>
            <a href="/form1" class="item">Home</a>
            <a href="/form1" class="item">New Submission</a>
        </div>
