<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Submission</div>
        <form class="ui form" action="/form1" method="POST">
            <div class="field">
                <label>Name</label>
                <input type="text" name="form[customerName]" placeholder="Your name.." required>
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" name="form[email]" placeholder="Your email.." required>
            </div>
            <div class="field">
                <label>Mobile Number</label>
                <input type="number" name="form[phoneNumber]" placeholder="98765432" min="80000000" max="99999999" required>
            </div>
            <input class="ui violet big basic button" type="submit">
        </form>
</div>


<% include partials/footer %>
